/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;

}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
    background-color:rgb(0, 4, 17);

}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin-left: 5%;
    margin-right: 5%;
    color:rgb(225, 239, 230);
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}
a {
    color: white;
    text-decoration: none;
}


a:hover {
    color:red; 
    text-decoration:none; 
    cursor:pointer;  
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar { 
    background-color:rgb(0, 4, 17, .8);
    filter: alpha(opacity=90);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: .8
}

h1 {
    text-align: center;
    color: white;
}
header nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.link{
    display: flex;
    justify-content: space-evenly;
}


.media-tags{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding:1% 30%;
    font-size: 35px;
}
header i{
    padding-left: 5%;
    padding-bottom:3%;
    padding-top:3%;
}

/* spacers */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}
 .gallery h2{
    padding-top: 3vh;
    padding-bottom: 2vh;
    color: #fff;
    text-align: center;
    
}

/* gallery section */
.gallery {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

.foods{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-flow: wrap;    
}
.foods img {
    margin-bottom: 3%;
}
.spacer{
    height:214.39px;
    width:100%;
 
}

/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
    color: #fff;
}

.about-container .text {
    width: 50%;
   
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}


.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
}

.contact h3 {
    padding-top: 2.5vh;
}

.contact p {
    padding: .5vh 0;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}
.spacer-sm{
    height:214.39px;
    width:100%;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
}
.form-box input{
    font-size:24px;
    color: black;
    padding: 1px 1px;
    border: none;
    outline: none;
    background-color: #fff;
}
.form-box button{
    font-size: 24px;
}

footer .box {
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .navb{
    width:70%;
    display: flex;
    flex-direction: column;  
}
footer nav{
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size: 20px;
    padding-top:3%;
    padding-right:7%;
    display: flex;
    justify-content: flex-end;
}





/* mobile media query */

@media (max-width:1628px){
    .gallery {
        width: 100%;
        height:130vh;
        text-align: center;    
    }
    body {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width:1200px){
    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1145px){
    .info {
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:1090px){

    .about {
        height: 100vh;
}
}

@media (max-width:980px){
    
.address {
    width: 50%;
}

.hours {
    width: 50%;
   
}

.contacts {
    width: 50%;
}
@media (max-width:900px){
    footer nav{
    flex-direction: column;
    align-items: center;
    }
}


@media (max-width:876px){
    .gallery {
        height:235vh;
        
    }
}

}
@media (max-width:816px){ 
    .about {
        height: 125vh;
}
.about-container .text {
    width: 90%;
}  
}


@media (max-width:650px){
    header nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 428px) {
    /* header section */
    

    /* gallery section */
    .gallery {
        height: auto;
    }
    
    /* about us section */

    .about {
        height: 200vh;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }
    
    .about-container .text {
        width: 85%;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    
    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
    .form-box button{
        font-size: 24px;
        width: 100%;
    }
    footer p{
        font-size: smaller;
       text-align: center;
    }
}
